@import url(https://fonts.googleapis.com/css?family=Roboto);
div#main {
  margin-left: 100px;
}
a {
  text-decoration: none;
  color: #22f;
}
a:active {
  color: #f20;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #b0f;
}
p, h1, h2, h3, h4, h5, h6, li, td, a {
  font-family: Helvetica, Roboto;
}
